<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Loic Missigbeto</h5>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Capucine Debailleul</h5>
      </div>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>