<div class="d-flex flex-wrap justify-content-center gap-4">
    <div class="card" style="width: 18rem;">
      <img src="logo.png" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Loic Missigbeto</h5>
        <a href="https://github.com/loic-msgb" class="card-link">Lien Github</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="logo.png" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Capucine Debailleul</h5>
        <a href="https://github.com/SmallCapu2022" class="card-link">Lien Github</a>
      </div>
    </div>
  </div>
  